{% extends "lms/layout.html" %}

{% block body %}
<div class="w-full p-4">
    <h1 class="text-2xl font-bold">{{assignment.course.course_title}}</h1>
    <span class="text-sm font-semibold">{{assignment.course.course_code}} || {{assignment.course.unit}} units || {{assignment.course.type}}</span>
    {% if user.is_student %}
        {% if submitted %}
        <button aria-label="submitted" type="button" class="p-4 block bg-blue-400 mt-4 text-white font-semibold w-fit rounded-lg">Submitted</button>
        {% if grade %}
        <p>Grade: {{grade}}</p>
        {% endif %}
        {% elif due %}
        <button aria-label="submitted" type="button" class="p-4 block bg-red-400 mt-4 text-white font-semibold w-fit rounded-lg">Submission Closed</button>
        {% else %}
        <a href="{% url 'submit' assignment.id %}" class="p-4 block bg-blue-500 mt-4 text-white font-semibold w-fit rounded-lg">Submit Solution</a>
        {% endif %}

    {% endif %}
    <div class="mt-4 flex flex-col gap-2">
        <h1 class="text-xl font-semibold">{{assignment.title}}</h1>
        <p class="text-sm">Uploaded on {{assignment.date}}</p>
        <p class="text-sm">To be submitted before {{assignment.due_date}}</p>
        <div class="mt-4 renderer">
            {{assignment.content|safe}}
        </div>
    </div>
    {% if user.is_lecturer %}
    <div class="flex flex-col gap-2 mt-4 overflow-y-auto">
        <h1 class="text-xl font-semibold">Submissions</h1>
        <!-- For submiisions in assignment -->
        {% for submission in submissions %}
        <div class="">
            <h2>{{submission.user}}</h2>
            <div class="renderer">{{submission.solution|safe}}</div>
            Grade ________
        </div>
        
        {% endfor %}
    </div>
    {% endif %}
    
</div>
{% endblock %}