{% extends "lms/layout.html" %}

{% block body %}
<div class="w-full p-4">
    <h1 class="text-2xl font-bold">{{assignment.course.course_title}}</h1>
    <span class="text-sm font-semibold">{{assignment.course.course_code}} || {{assignment.course.unit}} units || {{assignment.course.type}}</span>
    <div class="mt-4">
        <h1 class="text-xl font-semibold">{{assignment.title}}</h1>
        <span class="text-sm">Uploaded on {{assignment.date}}</span>
        <div class="mt-4 renderer">
            {{assignment.content|safe}}
        </div>
    </div>
    <div class="flex flex-col gap-2 mt-4">
        <h1 class="text-xl font-semibold">Submissions</h1>
        <!-- For submiisions in assignment -->
    </div>
    
</div>
{% endblock %}