{% extends "lms/layout.html" %}

{% block body %}
<div class="w-full p-4">
    <h1 class="text-2xl font-bold">Assignment: {{assignment.title}}</h1>
    <h1 class="text-xl font-bold">{{assignment.course.course_title}}</h1>
    <span class="text-sm font-semibold">{{assignment.course.course_code}} || {{assignment.course.unit}} units || {{assignment.course.type}}</span>
    
    <div class="my-4">
        <h1 class="text-xl font-semibold">{{assignment.title}}</h1>
        <span class="text-sm">Uploaded on {{assignment.date}}</span>
        <div class="mt-4 renderer">
            {{assignment.content|safe}}
        </div>
    </div>
    <h1 class="text-xl font-bold">Solution</h1>
    <form action="" method="post"class="flex flex-col gap-2 w-fit mt-8">
        {% csrf_token %}
        {{form.media}}
        {%for field in form%}
            <div class="form-group">{{field}}</div>
        {%endfor%}
        
        <input class="w-full px-4 py-2 bg-blue-600 text-white rounded-lg font-bold" type="submit" value="Submit">
    </form>
    
</div>
{% endblock %}